NAVER_NEWS_API_URL=https://naverapihub.apigw.ntruss.com/search/v1/news
NAVER_NEWS_CLIENT_ID=
NAVER_NEWS_CLIENT_SECRET=
NEWS_MCP_HOST=0.0.0.0
NEWS_MCP_PORT=8021
NEWS_LOOKBACK_DAYS=7
NEWS_RESULT_LIMIT=10
NEWS_TIMEOUT_SEC=10
NEWS_MOCK=auto
