COMMUNITY_API_URL=http://159.223.75.71:8877
COMMUNITY_API_TOKEN=
COMMUNITY_MCP_HOST=0.0.0.0
COMMUNITY_MCP_PORT=8023
COMMUNITY_LOOKBACK_DAYS=7
COMMUNITY_RESULT_LIMIT=100
COMMUNITY_TIMEOUT_SEC=10
COMMUNITY_MOCK=auto
